In [18]:
#Arithmetic Operations

a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

12
8
20
5.0

In [29]:
# Comparison Operators

a=10
b=5

if a == b:
    print("equal")
elif a != b: 
    print("not equal")
elif a > b: 
    print("greater than b")
elif a < b: 
    print("less than b")

not equal

In [30]:
#Logical Operators

takeTrue=bool(input("Enter the Value :"))
takeFalse=bool(input("Enter the Value :"))

print(takeFalse and takeTrue)
print(takeTrue or takeFalse)
print(not takeTrue)

#in and operator the output it should show is False as one value is false but it is showing True why?

Enter the Value : True
Enter the Value : False

True
True
False

In [ ]:
#Bitwise Operations

#Not understand

In [4]:
#Precedence of Operators

num1=int(input("Enter the value :"))
num2=int(input("Enter the value :"))
num3=int(input("Enter the value :"))

ans=(num1 + num2) * (num3 / (num2 - num1))
print(ans)
#print(type(ans))
#why its type is showing(<class 'float'>)

Enter the value : 2
Enter the value : 5
Enter the value : 6

<class 'float'>

In [6]:
#Mixed Operators

a=int(input("Enter the integer :"))
b=int(input("Enter the integer :"))
ans=(a + b) * (a - b) / (a ** b)
print(ans)

Enter the integer : 2
Enter the integer : 3

-0.625

In [13]:
#Complex Comparison

num1=int(input("Enter the first number :"))
num2=int(input("Enter the second number :"))
num3=int(input("Enter the third number :"))
#if num1>num2 and num1<num3:
if num2<num1<num3 :
     print("num1 is between num2 and num3")
else:
     print("num1 is not between num2 and num3")

Enter the first number : 3
Enter the second number : 1
Enter the third number : 5

num1 is between num2 and num3

In [15]:
SecTime=int(input("Enter the seconds :"))
hours=SecTime//3600
minute=SecTime%3600
Second=SecTime%60

#hete f = templet literal (``) of JavaScript and ` are used for dynamic data printing{}
print(f"{total_seconds} seconds is equal to:")
print(f"Hours: {hours}")
print(f"Minutes: {minute}")
print(f"Seconds: {Second}")

Enter the seconds : 365

60 seconds is equal to:
Hours: 0
Minutes: 365
Seconds: 5

In [17]:
#Swap Variables
a=int(input("Swaping the value with b : "))
b=int(input("Swaping the value with a : "))
a, b = b, a
print("a= ",b)
print("b= ",a)

Swaping the value with b :  5
Swaping the value with a :  6

a=  5
b=  6

In [ ]:
#Investment Growth

principal_amount=float(input("Enter the principal amount : "))
interest_rate=float(input("Enter the interest rate : "))
number_of_years=float(input("Enter the number of years : "))

#A = P * (1 + r/n) ** (nt)
#This question is incomplete as in the file also the values are not mentioned properly like A: what, what is p
Total_intrest=

In [4]:
# Temperature Converter

#℉=(℃*1.8)+32
Celsius= float(input("Enter the Temperature : "))
Kelvin=Celsius+273.15
Fahrenheit=Celsius*1.8+32

print(f"{Celsius} degrees Celsius is equal to {Kelvin} Kelvin")
#here f = `` of JavaScript and we have kept our variable inside {} so that we can direct access to the value.
#print("Temperature in Kelvin :",Kelvin)

print(f"{Celsius} degrees Celsius is equal to {Fahrenheit} Fahrenheit")
#print("Temperature in Fahrenheit :",Fahrenheit)

Enter the Temperature :  36

36.0 degrees Celsius is equal to 309.15 Kelvin
36.0 degrees Celsius is equal to 96.8 Fahrenheit

In [11]:
#Speed Calculator

Distance_Km = float(input("Enter Distance : "))
Time_min=float(input("Enter time in minutes : "))
#Time_Hrs= Time_min/60

speed=Distance_Km/Time_Hrs
print(speed ,"km/h")
print(f"Total speed is {speed} km/h ")

Enter Distance :  600
Enter time in minutes :  5000

600.0 km/h
Total speed is 600.0 km/h

In [15]:
# Triangle Area Calculator**
height= float(input("Enter the height of the triangle: " ) )
base =float(input("Enter the base of the triangle: "))
area = int(height*base)

print(f"Area of the triangle is: {area}")

Enter the height of the triangle:  5
Enter the base of the triangle:  5

Area of the triangle is:25

In [17]:
#Volume of a Sphere
#pi=3.14
import math
radius = float(input("Enter the radius of sphere: "))
volume = int(math.pi*(radius**3))

print(f"The volume of the sphere is: {volume}")

Enter the radius of sphere:  60

The volume of the sphere is: 678584

In [20]:
#Time Conversion

seconds = int(input("Enter the time duration in seconds: "))
hours =seconds // 3600
minutes =(seconds%3600) // 60
seconds_left = seconds%60

print(f"{seconds} seconds is equal to {hours} hours, {minutes} minutes, and {seconds_left} seconds")

Enter the time duration in seconds:  6500

6500 seconds is equal to 1 hours, 48 minutes, and 20 seconds